<h1>Location Tracker</h1>

<div>
  <h2 style="display: inline-block;
  padding: 5px;">Last Updatetd Time</h2>
  <h2 style="display: inline-block;
  padding: 5px;">{{time}}</h2>
</div>


<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [zoom]="15" [latitude]="lat" [longitude]="lng">
  <agm-marker [iconUrl] ="
  {
    url: './assets/icon.png',
    scaledSize: {
        width: 25,
        height: 25
    }
}" *ngFor="let marker of locations" [latitude]="marker.latitude" [longitude]="marker.longitude">

    <agm-info-window>
      <h3>
        {{marker.distance}}
        
      </h3>
    </agm-info-window>

  </agm-marker>
</agm-map>